/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

resources/public/js/build/
resources/public/inspect/bower_components/
resources/public/inspect/js/build/inspect-opt.js
