/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.idea
*.iml

resources/public/inspect/js/build/
resources/public/inspect/bower_components/
resources/public/inspect/js/build/inspect-opt.js

*.pid
*.out
