$font-color: #576364;
$font-family: "Lato", sans-serif;
$header-font-family: "Oswald", "Lato", sans-serif;
$green: #4CAF50;
$red: rgb(202, 60, 60);
$hashtag-blue: rgb(66, 184, 221);
$info-border-radius: 0.3em;
$mention-color: rgb(55, 201, 154);
$search-field-color: white;
$delete-warning: rgb(202, 60, 60);
$show-more: #1f8dd6;
$not-tag: rgb(221, 77, 55);
$menu-bg: #2d3e50;
$body-background-color: desaturate(lighten($menu-bg, 20), 10);
$stats-bg-color: $menu-bg;
$toggle-btn: #576364;
$link-color: #006c91;
$menu-new-btn: #0078e7;
$mention-link: #007d4e;
$tab-bg: desaturate(lighten($menu-bg, 40), 10);
