@import "variables.scss";
@import "edn.scss";

body {
  color: $font-color;
  background-color: white;
  font-size: 12px;
  font-weight: 300;
  font-family: $font-family;
  display: flex;
  width: 3840px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

@import "buttons.scss";

#logo {
  width: 150px;
  position: absolute;
  top: 1em;
  left: 2em;
}

.cmp-table {
  h2 {
    margin-bottom: 3px;
    font-family: monospace;
    font-size: 0.9em;
  }
}

#graphviz1, #graphviz2 {
  svg {
    max-width: 1000px;
  }
}

.flex {
  display: flex;
}

.menu {
  background-color: #EEE;
  padding-left: 200px;
}

.observer {

  pre {
    font-size: 0.7em;
    line-height: 1em;
  }

  h3 {
    margin: 0.6em 0 0 0;
    font-size: 1em;
    font-family: monospace;
  }
  .header {
    display: flex;
    margin-bottom: 10px;

    input {
      height: 28px;
      width: 320px;
      border: 0;
      outline: none;
    }
    .cnt {
      padding: 8px 20px;
    }
  }

  .section {
    padding: 12px;
    margin-bottom: 10px;
    width: calc(100vw - 24px);
    min-height: 40px;
  }

  .timeline {
    svg {
      width: 1100px;
    }
  }

  .msg-flow, .msg-flows {
    min-height: 600px;
    .time {
      font-weight: bold;
      font-family: monospace;
    }
    table {
      margin-top: 1em;
      font-size: 0.8em;
      font-family: monospace;
      border-spacing:0;
      cursor: pointer;

      tr:nth-child(even) {
        background-color: lighten($hashtag-blue, 40%);
      }

      .max-per-type {
        tr {
          background-color: rgba(0,0,0,0);
        }
      }

      td, th {
        padding-right: 8px;
        vertical-align: middle;
      }

      .number {
        text-align: right;
        font-weight: bold;
      }
    }
  }

  .stop {
    background-color: $red;
  }

  .freeze {
    background-color: #eee;
    color: $green;
    margin-top: 10px;
  }

  .clear {
    background-color: $red;
    color: white;
    margin: 10px 0 0 10px;
  }

  .status {
    font-family: monospace;

    &.error {
      color: $red;
      font-weight: bold;
    }
  }

  .color {
    padding: 0 0.6em;
    margin-right: 0.5em;
  }

  .active, .selected {
    background-color: #7FDBFF!important;
  }

  .active-flow {
    background-color: lighten($green, 35)!important;
  }

  .force-wrapper {
    align-items: center;
    display: flex;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .tables {
    display: flex;
    flex-flow: row;

    table {
      background-color: white;
      margin: 0 1em 0 0;
      min-width: 220px;
      line-height: 1em;
      font-family: monospace;
      font-size: 0.8em;
      cursor: pointer;

      tr:nth-child(even) {
        background-color: lighten($hashtag-blue, 40%);
      }

      td {
        min-width: 20px;

        ul {
          margin: 0;
        }

        &.dir {
          width: 30px;
        }
        &.cmp-id {
          min-width: 170px;
        }
      }

      .cnt {
        text-align: end;
        padding-right: 5px;
        background-color: white;
      }

      .changed {
        font-weight: bold;
        background-color: orange;
        //transition: background-color 1s;
      }
    }
  }
}

.grid {
  .wrapper {
    display: grid;
    height: 100vh;
    width: 3840px;
    grid-gap: 10px;
    grid-template-rows: 80px calc(100vh - 100px);
    grid-template-columns: 1000px 800px 600px 1000px 600px 600px 600px;
  }

  .menu {
    grid-column: 1/8;
    grid-row: 1;
  }
  .col-1 {
    grid-column: 1;
    grid-row: 2;
  }
  .col-2 {
    grid-column: 2;
    grid-row: 2;
  }
  .col-3 {
    grid-column: 3;
    grid-row: 2;
  }
  .col-4 {
    grid-column: 4;
    grid-row: 2;
  }
  .col-5 {
    grid-column: 5;
    grid-row: 2;
  }
  .col-6 {
    grid-column: 6;
    grid-row: 2;
  }
  .col-7 {
    grid-column: 7;
    grid-row: 2;
  }
}

.spec-errors {
  .header {
    font-weight: bold;

    time {
      margin-right: 1em;
    }
  }
  pre {
    font-size: 1.2em;
  }
}

.known-hosts {
  line-height: 1.6em;
  position: absolute;
  background-color: lightblue;
  padding: 5px;
  font-family: monospace;
  width: 300px;

  .known-host {
    padding: 5px;
    cursor: pointer;
  }
}

.msg-cmp {
  display: flex;
  flex-direction: row;

  .msg-types {
    padding-right: 30px;
    white-space: nowrap;

    input {
      margin-top: 20px;
      margin-bottom: 2px;
      width: 180px;
    }

    table {
      background-color: white;
      margin: 0 1em 0 0;
      min-width: 220px;
      line-height: 1em;
      font-family: monospace;
      font-size: 0.8em;
      cursor: pointer;

      tr:nth-child(even) {
        background-color: lighten($hashtag-blue, 40%);
      }

      td {
        min-width: 20px;

        ul {
          margin: 0;
        }

        &.dir {
          width: 30px;
        }
        &.cmp-id {
          min-width: 170px;
        }
      }

      .cnt {
        text-align: end;
        padding-right: 5px;
        background-color: white;
      }

      .changed {
        font-weight: bold;
        background-color: orange;
        //transition: background-color 1s;
      }
    }

    th {
      user-select: none;
    }

    .fas {
      padding: 5px 10px;
      color: #AAA;
      &.sort-active {
        color: #006c91;
      }
    }
  }
}