@import "variables.scss";

body {
  color: $font-color;
  font-size: 12px;
  font-weight: 300;
  font-family: $font-family;
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

@import "buttons.scss";

#graphviz {
  width: 1fr;
  svg {
    width: 100%;
  }
}

.flex {
  display: flex;
}

.observer {
  padding: 2em;

  h2 {
    margin: 0.6em 0 0 0;
    font-size: 1em;
    font-family: monospace;
  }
  .header {
    display: flex;
    margin-bottom: 10px;

    input {
      height: 28px;
      min-width: 260px;
    }
    .cnt {
      padding: 8px 20px;
    }
  }

  .fa {
    margin-right: 5px;
  }

  .stop {
    background-color: $red;
  }

  .freeze {
    background-color: #eee;
    color: $green;
    margin-top: 10px;
  }

  .status {
    margin-bottom: 10px;
    font-family: monospace;

    &.error {
      color: $red;
      font-weight: bold;
    }
  }

  .color {
    padding: 0 0.6em;
    margin-right: 0.5em;
  }

  .active {
    background-color: #7FDBFF;
  }

  .force-wrapper {
    align-items: center;
    display: flex;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .tables {
    display: flex;
    flex-flow: row;

    table {
      background-color: white;
      margin: 0 1em 0 0;
      min-width: 270px;
      line-height: 1em;
      font-family: monospace;
      font-size: 0.8em;

      td {
        min-width: 20px;

        &.dir {
          width: 30px;
        }
        &.cmp-id {
          min-width: 170px;
        }
      }

      .cnt {
        text-align: end;
        padding-right: 5px;
        background-color: white;
      }

      .changed {
        font-weight: bold;
        background-color: orange;
        //transition: background-color 1s;
      }
    }
  }
}
