@import "variables.scss";

body {
  color: $font-color;
  font-size: 12px;
  font-weight: 300;
  font-family: $font-family;
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

@import "buttons.scss";

#graphviz {
  svg {
    width: 50vw;
  }
}

.flex {
  display: flex;
}

.observer {
  padding: 2em;

  h2 {
    margin: 0.4em 0 0 0;
    font-size: 1.2em;
  }
  .header {
    display: flex;
    margin-bottom: 20px;

    input {
      height: 28px;
      min-width: 260px;
    }
    .cnt {
      padding: 8px 20px;
    }
    .freeze {
      margin-top: 10px;
    }
  }

  .color {
    padding: 0 0.6em;
    margin-right: 0.5em;
  }

  .active {
    background-color: #7FDBFF;
  }

  .force-wrapper {
    align-items: center;
    display: flex;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .tables {
    display: flex;
    flex-flow: row;

    table {
      background-color: white;
      margin: 0 4em 0 0;
      min-width: 250px;

      td {
        min-width: 20px;
      }

      .cnt {
        text-align: end;
        padding-right: 5px;
        background-color: white;
      }

      .changed {
        font-weight: bold;
        background-color: orange;
        //transition: background-color 1s;
      }
    }
  }
}
