@import "variables.scss";

body {
  color: $font-color;
  background-color: $tab-bg;
  font-size: 12px;
  font-weight: 300;
  font-family: $font-family;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

.flex-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.updater {
  padding: 1em;

  .info {
    padding: 1em 0 2em 0;
  }
}

@import "buttons.scss";

// adapted from https://css-tricks.com/css3-progress-bars/
.meter {
  height: 16px;
  position: relative;
  background: $body-background-color;
  border-radius: 6px;
  padding: 4px;
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 4px;
  background-color: $green;
  position: relative;
  overflow: hidden;
}
